Repository danieleschmidt/privacy-preserving-agent-finetuner, changes with the owners that .github/CODEOWNERS names for each.
All owners: @terragon-labs/core-team, @terragon-labs/privacy-team, @terragon-labs/security-team, @terragon-labs/devops-team, @terragon-labs/qa-team, @terragon-labs/docs-team, @terragon-labs/architecture-team, @terragon-labs/sre-team, @terragon-labs/legal-team

docs: add development setup guide
  docs/DEVELOPMENT.md
Owners: @terragon-labs/docs-team

docs: add workflow requirements and setup documentation
  docs/SETUP_REQUIRED.md
  docs/workflows/README.md
Owners: @terragon-labs/docs-team

feat: autonomous SDLC enhancement for advanced repository optimization
  .github/ISSUE_TEMPLATE/performance_optimization.yml
  .github/ISSUE_TEMPLATE/privacy_concern.yml
  .github/ISSUE_TEMPLATE/security_vulnerability.yml
  ADVANCED_OPTIMIZATION_GUIDE.md
  AUTONOMOUS_SDLC_ENHANCEMENT_SUMMARY.md
  REPRODUCIBLE_BUILDS.md
  scripts/generate_sbom.py
  scripts/performance_profiler.py
  scripts/privacy_compliance_check.py
  scripts/release.py
  scripts/security_audit.py
Owners: @terragon-labs/devops-team, @terragon-labs/core-team, @terragon-labs/privacy-team

feat: autonomous SDLC optimization for advanced repository maturity
  .github/dependabot.yml
  .hadolint.yaml
  .sonarcloud.properties
  .trivyignore
  SDLC_OPTIMIZATION_SUMMARY.md
  codecov.yml
  config/security.yaml
  docs/ADVANCED_DEVELOPMENT_GUIDE.md
  docs/workflows/IMPLEMENTATION_GUIDE.md
  pyproject.toml.lock
  scripts/advanced_security_scanner.py
  trivy.yaml
Owners: @terragon-labs/devops-team, @terragon-labs/core-team, @terragon-labs/docs-team

feat: autonomous SDLC implementation scaffolding for privacy-preserving framework
  AUTONOMOUS_IMPLEMENTATION_SUMMARY.md
  poetry.lock
  privacy_finetuner/__init__.py
  privacy_finetuner/api/__init__.py
  privacy_finetuner/api/server.py
  privacy_finetuner/cli.py
  privacy_finetuner/core/__init__.py
  privacy_finetuner/core/context_guard.py
  privacy_finetuner/core/privacy_config.py
  privacy_finetuner/core/trainer.py
  privacy_finetuner/utils/__init__.py
  privacy_finetuner/utils/monitoring.py
  tests/integration/__init__.py
  tests/privacy/__init__.py
  tests/unit/__init__.py
  tests/unit/test_context_guard.py
  tests/unit/test_privacy_config.py
Owners: @terragon-labs/core-team, @terragon-labs/qa-team

feat: autonomous SDLC enhancement - next-generation privacy-preserving ML framework
  .github/ISSUE_TEMPLATE/performance_optimization.yml
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  docs/workflows/GITHUB_ACTIONS_SETUP.md
  privacy_finetuner/__init__.py
  privacy_finetuner/cli.py
  privacy_finetuner/context_guard.py
  privacy_finetuner/core.py
  privacy_finetuner/privacy.py
  tests/test_core.py
  tests/test_privacy_guarantees.py
Owners: @terragon-labs/devops-team, @terragon-labs/core-team, @terragon-labs/docs-team, @terragon-labs/qa-team

feat: SDLC optimization enhancements for advanced repository maturity
  .devcontainer/devcontainer.json
Owners: @terragon-labs/core-team

feat(autonomous-sdlc): add Terragon Labs Autonomous SDLC system for value discovery and execution
  .github/workflows/ci.yml
  .github/workflows/terragon-autonomous.yml
  .terragon/backlog-engine.py
  .terragon/config.yaml
  .terragon/generate-backlog-md.py
  .terragon/value-metrics.json
  BACKLOG.md
  TERRAGON_AUTONOMOUS_SDLC_IMPLEMENTATION.md
Owners: @terragon-labs/devops-team, @terragon-labs/core-team

🤖 Complete Terragon Labs Autonomous SDLC Implementation
  .github/workflows/ci.yml
  TERRAGON_AUTONOMOUS_SDLC_IMPLEMENTATION.md
  docs/workflows/TERRAGON_WORKFLOWS_SETUP.md
Owners: @terragon-labs/devops-team, @terragon-labs/core-team, @terragon-labs/docs-team

docs: establish enhanced project foundation and community structure
  PROJECT_CHARTER.md
  docs/ROADMAP.md
  docs/adr/001-differential-privacy-framework.md
  docs/adr/002-federated-learning-architecture.md
  docs/adr/003-context-protection-strategies.md
  docs/adr/README.md
  docs/adr/adr-template.md
  docs/guides/README.md
Owners: @terragon-labs/core-team, @terragon-labs/docs-team

feat: setup comprehensive development environment and tooling
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .editorconfig
  .vscode/extensions.json
  .vscode/settings.json
  Dockerfile.dev
  docker-compose.dev.yml
Owners: @terragon-labs/core-team

test: establish comprehensive testing infrastructure for privacy-preserving ML
  tests/fixtures/privacy_configs.py
  tests/fixtures/test_data.py
  tests/integration/test_end_to_end_privacy.py
  tests/performance/test_privacy_overhead.py
  tests/privacy/test_differential_privacy.py
  tests/security/test_privacy_attacks.py
  tests/utils/test_helpers.py
Owners: @terragon-labs/qa-team, @terragon-labs/core-team

build: enhance containerization with Jupyter support and advanced build system
  .dockerignore
  Dockerfile.jupyter
  scripts/build.sh
  scripts/init-db.sql
  scripts/jupyter-startup.sh
Owners: @terragon-labs/core-team

feat: establish comprehensive privacy-focused monitoring and observability
  monitoring/docker-compose.monitoring.yml
  monitoring/grafana/dashboards/privacy-budget-dashboard.json
  monitoring/grafana/datasources/privacy-datasources.yml
  monitoring/privacy-alerts.yml
  scripts/start-monitoring.sh
Owners: @terragon-labs/sre-team, @terragon-labs/devops-team, @terragon-labs/core-team

docs: complete project foundation with essential user guides
  docs/guides/basic-config.md
  docs/guides/first-training.md
  docs/guides/installation.md
Owners: @terragon-labs/docs-team

feat: enhance development environment with Node.js tooling
  package.json
Owners: @terragon-labs/core-team

test: complete comprehensive testing infrastructure
  docs/testing/README.md
  tests/compliance/__init__.py
  tests/compliance/test_gdpr_compliance.py
  tests/e2e/__init__.py
  tests/e2e/test_full_training_pipeline.py
  tests/enclave/__init__.py
  tests/enclave/test_sgx_integration.py
  tests/federated/__init__.py
  tests/federated/test_secure_aggregation.py
Owners: @terragon-labs/docs-team, @terragon-labs/qa-team, @terragon-labs/core-team

build: enhance containerization with multi-architecture support
  docker-bake.hcl
  docs/deployment/BUILD.md
Owners: @terragon-labs/core-team, @terragon-labs/docs-team

feat: establish comprehensive privacy-focused monitoring and observability
  docs/monitoring/README.md
  monitoring/alertmanager.yml
  monitoring/loki-config.yml
  monitoring/promtail-config.yml
  monitoring/telegraf.conf
Owners: @terragon-labs/docs-team, @terragon-labs/sre-team, @terragon-labs/devops-team

docs: complete CHECKPOINT 1 - project foundation and documentation enhancement
  docs/IMPLEMENTATION_STATUS.md
Owners: @terragon-labs/docs-team

feat: complete CHECKPOINT 2 - development environment and tooling validation
  .editorconfig
  docs/IMPLEMENTATION_STATUS.md
Owners: @terragon-labs/core-team, @terragon-labs/docs-team

docs: complete CHECKPOINT 1 - project foundation and documentation enhancement
  docs/IMPLEMENTATION_STATUS.md
Owners: @terragon-labs/docs-team

docs: complete CHECKPOINT 1 - project foundation and documentation enhancement
  docs/IMPLEMENTATION_STATUS.md
Owners: @terragon-labs/docs-team

test: complete CHECKPOINT 3 - comprehensive testing infrastructure enhancement
  docs/IMPLEMENTATION_STATUS.md
  tests/README.md
  tests/config/test_configs.yaml
  tests/data/sample_datasets.json
  tests/utils/config_loader.py
Owners: @terragon-labs/docs-team, @terragon-labs/core-team, @terragon-labs/qa-team

feat: complete CHECKPOINT 2 - development environment and tooling validation
  .editorconfig
  docs/IMPLEMENTATION_STATUS.md
Owners: @terragon-labs/core-team, @terragon-labs/docs-team

docs: complete CHECKPOINT 1 - project foundation and documentation enhancement
  docs/IMPLEMENTATION_STATUS.md
Owners: @terragon-labs/docs-team

build: complete CHECKPOINT 4 - build system and containerization enhancement
  .dockerignore
  .releaserc.json
  docs/IMPLEMENTATION_STATUS.md
  scripts/build_sbom.py
Owners: @terragon-labs/core-team, @terragon-labs/docs-team

feat: complete CHECKPOINT 2 - development environment and tooling validation
  .editorconfig
  docs/IMPLEMENTATION_STATUS.md
Owners: @terragon-labs/core-team, @terragon-labs/docs-team

test: complete CHECKPOINT 3 - comprehensive testing infrastructure enhancement
  docs/IMPLEMENTATION_STATUS.md
  tests/README.md
  tests/config/test_configs.yaml
  tests/data/sample_datasets.json
  tests/utils/config_loader.py
Owners: @terragon-labs/docs-team, @terragon-labs/core-team, @terragon-labs/qa-team

feat: complete CHECKPOINT 6-8 - finalize SDLC implementation
  .github/project-metrics.json
  TERRAGON_SDLC_IMPLEMENTATION_COMPLETE.md
  scripts/collect_metrics.py
  scripts/repository_health_check.py
Owners: @terragon-labs/devops-team, @terragon-labs/core-team

feat: complete CHECKPOINT A1 - implement core privacy-preserving functionality
  privacy_finetuner/api/server.py
  privacy_finetuner/cli.py
  privacy_finetuner/core/context_guard.py
  privacy_finetuner/core/privacy_config.py
  privacy_finetuner/core/trainer.py
  privacy_finetuner/utils/monitoring.py
Owners: @terragon-labs/core-team

feat: complete CHECKPOINT A2 - Development Environment & Data Layer
  privacy_finetuner/cache/__init__.py
  privacy_finetuner/cache/manager.py
  privacy_finetuner/cache/strategies.py
  privacy_finetuner/database/__init__.py
  privacy_finetuner/database/connection.py
  privacy_finetuner/database/migrations/001_initial_schema.py
  privacy_finetuner/database/models.py
  privacy_finetuner/database/repositories.py
  privacy_finetuner/database/seeds/seed_data.py
Owners: @terragon-labs/core-team

feat: complete CHECKPOINT A3 - Testing Infrastructure & API Implementation
  tests/conftest.py
  tests/integration/test_training_pipeline.py
  tests/unit/test_api_server.py
  tests/unit/test_database_models.py
  tests/unit/test_repositories.py
  tests/unit/test_trainer.py
Owners: @terragon-labs/qa-team, @terragon-labs/core-team

feat(integrations): add comprehensive external integrations and compliance audit
  privacy_finetuner/integrations/__init__.py
  privacy_finetuner/integrations/auth.py
  privacy_finetuner/integrations/github_client.py
  privacy_finetuner/integrations/notifications.py
  scripts/compliance_audit.py
Owners: @terragon-labs/core-team

feat: enhance core privacy functionality with advanced analytics and monitoring
  privacy_finetuner/core/__init__.py
  privacy_finetuner/core/context_guard.py
  privacy_finetuner/core/privacy_analytics.py
  privacy_finetuner/core/privacy_config.py
  privacy_finetuner/core/trainer.py
Owners: @terragon-labs/core-team

feat: enhance development environment and implement advanced data operations
  privacy_finetuner/database/__init__.py
  privacy_finetuner/database/advanced_operations.py
  privacy_finetuner/database/query_optimizer.py
Owners: @terragon-labs/core-team

feat(api): add comprehensive privacy-preserving training API with advanced features
  privacy_finetuner/api/server.py
  tests/api/__init__.py
  tests/api/test_comprehensive_api.py
  tests/core/__init__.py
  tests/core/test_privacy_analytics.py
  tests/database/test_advanced_operations.py
Owners: @terragon-labs/core-team, @terragon-labs/qa-team

feat: implement comprehensive Terragon autonomous SDLC enhancement
  .env.production
  TERRAGON_AUTONOMOUS_SDLC_IMPLEMENTATION_COMPLETE.md
  config/haproxy.cfg
  docker-compose.production.yml
  privacy_finetuner/core/adaptive_privacy_scheduler.py
  privacy_finetuner/core/exceptions.py
  privacy_finetuner/core/quantum_optimizer.py
  privacy_finetuner/core/robust_training.py
  privacy_finetuner/core/scaling_optimizer.py
  privacy_finetuner/core/trainer.py
  scripts/start-production.sh
  tests/performance/test_scaling_performance.py
  tests/unit/test_enhanced_trainer.py
Owners: @terragon-labs/core-team, @terragon-labs/qa-team

feat(privacy_finetuner): add comprehensive privacy-preserving training framework
  TERRAGON_AUTONOMOUS_IMPLEMENTATION_FINAL.md
  config/privacy_example.yaml
  examples/advanced_scaling.py
  examples/basic_training.py
  privacy_finetuner/__init__.py
  privacy_finetuner/core/context_guard.py
  privacy_finetuner/core/privacy_analytics.py
  privacy_finetuner/core/privacy_config.py
  privacy_finetuner/core/quantum_optimizer.py
  privacy_finetuner/core/quantum_optimizer_stub.py
  privacy_finetuner/core/trainer.py
  privacy_finetuner/distributed/__init__.py
  privacy_finetuner/distributed/federated_trainer.py
  privacy_finetuner/optimization/__init__.py
  privacy_finetuner/optimization/resource_optimizer.py
  privacy_finetuner/utils/logging_config.py
  run_comprehensive_tests.py
  sample_dataset.jsonl
  test_basic_core.py
  test_basic_functionality.py
  test_data.jsonl
Owners: @terragon-labs/core-team

feat(privacy_finetuner): add comprehensive autonomous SDLC implementation with advanced features
  TERRAGON_AUTONOMOUS_SDLC_IMPLEMENTATION_FINAL.md
  privacy_finetuner/cli_enhanced.py
  privacy_finetuner/core/error_recovery.py
  privacy_finetuner/core/privacy_config.py
  privacy_finetuner/monitoring/__init__.py
  privacy_finetuner/monitoring/metrics.py
  privacy_finetuner/optimization/performance.py
  privacy_finetuner/security/audit.py
  privacy_finetuner/utils/logging_config.py
  tests/conftest.py
  tests/unit/test_context_guard.py
  tests/unit/test_privacy_config.py
Owners: @terragon-labs/core-team, @terragon-labs/security-team, @terragon-labs/qa-team

.github/CODEOWNERS:

# Global code owners
* @terragon-labs/core-team

# Privacy and security critical files
/privacy_finetuner/privacy/ @terragon-labs/privacy-team @terragon-labs/security-team
/privacy_finetuner/security/ @terragon-labs/security-team
scripts/privacy_compliance_check.py @terragon-labs/privacy-team
SECURITY.md @terragon-labs/security-team

# CI/CD and infrastructure
/.github/ @terragon-labs/devops-team @terragon-labs/core-team
/docs/workflows/ @terragon-labs/devops-team
Dockerfile @terragon-labs/devops-team
docker-compose.yml @terragon-labs/devops-team
Makefile @terragon-labs/devops-team

# Build and packaging
pyproject.toml @terragon-labs/core-team @terragon-labs/devops-team
poetry.lock @terragon-labs/core-team
setup.py @terragon-labs/core-team

# Testing
/tests/ @terragon-labs/qa-team @terragon-labs/core-team
pytest.ini @terragon-labs/qa-team
.pre-commit-config.yaml @terragon-labs/qa-team

# Documentation
README.md @terragon-labs/docs-team @terragon-labs/core-team
CONTRIBUTING.md @terragon-labs/docs-team
CODE_OF_CONDUCT.md @terragon-labs/docs-team
ARCHITECTURE.md @terragon-labs/architecture-team @terragon-labs/core-team
/docs/ @terragon-labs/docs-team

# Monitoring and observability
/monitoring/ @terragon-labs/sre-team @terragon-labs/devops-team
scripts/release.py @terragon-labs/devops-team

# License and legal
LICENSE @terragon-labs/legal-team
CHANGELOG.md @terragon-labs/core-team @terragon-labs/docs-team
